* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
}
main {
    flex: 1;
}
body {
    display: flex;
    flex-direction: column;
}
.default-font {
    font-family: system-ui, -apple-system,
        BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif
}

header {
    background-color: #000;
    display: flex;
    flex-direction: column;
    row-gap: 1.2vh;
    /* Vertically centers the logo and links */
}

footer {

    width: 100vw;
    height: 5vh;
    text-align: center;
    color: white;
    background-color:black;
}

#mainMenuNav {
    font-size: 1rem;
    margin: 0 auto;
    margin-top: 0.5vh;
}

/* 2. Lay out navigation links in a horizontal row */
#mainMenuNav ul {
    display: flex;
    gap: 1.5rem;
    /* Space between links */
    list-style: none;
    /* Removes bullet points */

}

/* 3. Link styling */
#mainMenuNav a {
    text-decoration: none;
    color: #ffffff;
}

#searchForm {
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 1.5vh;
}

#searchFormInput {
    width: 45vw;
    height: 3vh;
    font-size: 0.9rem;
    border-radius: 7px;
    padding: 1rem;
    border: none;
}

#searchFormSubmit {
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 30px;

    font-size: 1rem;
}

/* Using an ID */
#searchFormSubmit:disabled {
    background-color: #e0e0e0;
    color: #a1a1a1;
    border: 1px solid #ccc;
    cursor: not-allowed;
    /* Shows the disabled/prohibited mouse cursor */
    opacity: 0.6;
}

.main {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

#products {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* horizontal centering */
    margin-top: 20px;
    justify-content: flex-start;
    /* start from top */
    gap: 1ex;
    width: 100vw;
}

.pagination {
    max-width: fit-content;
    margin: 0 auto;
    margin-top: 2vh;
    margin-bottom: 2vh;

}

#prevBtn {
    height: 50px;
    width: 50px;
}

#nextBtn {
    height: 50px;
    width: 50px;
}

#currentPage {
    font-size: x-large;
    text-decoration: underline;
}
@media screen and (max-width: 668px) {


}
