
.product-card {
    max-width: 700px;
    width: 99vw;
    height: 202px;
    background-color: transparent;
    border: 1px solid rgb(185, 185, 185);
    display: flex;
    flex-direction: row;
}

.product-card img {
    border-radius: 3px;
    width: 200px;
    height: 200px;
    align-items: center;
}

.product-card img:hover {
    cursor: pointer;
}


.product-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    gap:0.5ex;
    margin-left: 0.6rem;
    margin-top: 0.4rem;

}

.product-title {
    font-size: 16px;
    color: black;
    font-weight: normal;
    text-decoration: none;
    display:block;
    margin-right: 0.2rem;
}

.brand {
    font-size: 1rem;
    font-weight: bold;

}

.bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: auto;
    margin-bottom: 0.8ex;
}

.bottom-row-left {
    display: flex;
    gap:0.5rem;
    flex-direction: column;
}

.price-section{
    margin-top: auto;
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    margin-right: 0.2rem;
}

/* price when no discount*/
.price {
    color:black;
    font-size: inherit;
    margin-right: 1rem;
}

.original-price {
    color: gray;
    font-size: inherit;
}

.discount-price {
    color: #d32f2f;
    font-size: inherit;
    font-weight: bold;
}

.discount-percentage {
    color: green;
    font-size: inherit;
    font-weight: bold;
}

.product-availability {
    margin-top:auto;
}

@media screen and (max-width: 668px) {

    .brand,
    .rating,
    .product-availability,
    .price-section,
    .product-title {
        font-size: 0.8rem;
    }
    .product-card {
        min-height: 125px;
        height: 160px;
    }

    o
    .product-card img {
        width: 120px;
        height: 120px;
    }

}
